=render 'application/notice'
%body.container.landing_background.justify-content-center
  .row.h-100.justify-content-center.align-items-center.font-weight-light
    .col
      .row.text-white.mb-2
        .col
          .display-4.mb-1= 'Welcome, '+ @user.first_name+'.'
        - if @user.tutor?
          .col.text-right.mt-4.mr-2
            - switch_button = session[:tutor_viewing_tutee] ? "Switch to Tutor View" : "Switch to Tutee View"
            =button_to switch_button, tutor_switch_views_path, class: "btn btn-primary"

      .row.pb-3
        - if @user.tutee? or session[:tutor_viewing_tutee]
          = render partial:'tutee_dashboard'
        - elsif @user.tutor?
          = render partial:'tutor_dashboard'
      .row
        .col
          =button_to 'Log Out', destroy_user_session_path, method:'delete', class: "btn btn-primary"
        .col.text-right.mr-2
          =button_to 'Edit Account', edit_user_registration_path, method: 'get', class: "btn btn-primary"
