-if flash[:alert]
  .alert.alert-danger.notice.py-4
    =flash[:alert]
-if flash[:notice]
  .alert.alert-warning.notice.py-4
    =flash[:notice]
-if flash[:success]
  .alert.alert-success.notice.py-4
    =flash[:success]
